
:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  .password-validator {
    width: 400px;
    background-color: black;
    padding: 20px;


    .password-wrapper {
      display: flex;
      margin-bottom: 15px;

      .label {
        padding-top: 3px;
        font-weight: 700;
      }

      .input-wrapper--text {
        flex: 1;
        position: relative;
        background-color: #282b2d;
        color: white;
        border: none;
        border-radius: 0;
        padding: 0;
        margin-left: 10px;
        overflow: hidden;

        & > input {
          box-sizing: border-box;
          background-color: #282b2d;
          color: white;
          border: none;
          width: 100%;
          border-radius: 0;
          padding: 0.375rem 1.25rem;
          outline: none;
          transition: background-color 0.3s, color 0.3s;

          &:focus {
              background-color: #242729;
              box-shadow: none;
          }
        }

        &:before,
        &:after {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            background-color: black;
        }

        &:before {
            right: -10px;
            top: -10px;
        }

        &:after {
            left: -10px;
            bottom: -10px;
        }
      }
    }

    .indicator {
      display: flex;
      height: 10px;
      width: 100%;

      .section {
        height: 100%;
        flex: 1;
      }
    }
  }
}
