<div class="password-validator">
  <div class="password-wrapper">
    <label class="label" for="password">Password:</label>
    <div class="input-wrapper--text">
      <input
        id="password"
        class="input"
        type="password"
        placeholder="Type your password here"
        [(ngModel)]="password"
        (input)="calculateStrength()"
      >
    </div>
  </div>
  <div class="indicator">
    <div class="section" [ngStyle]="{ 'background-color': passwordStrengthColor(1) }"></div>
    <div class="section" [ngStyle]="{ 'background-color': passwordStrengthColor(2) }"></div>
    <div class="section" [ngStyle]="{ 'background-color': passwordStrengthColor(3) }"></div>
  </div>
</div>
